.inspir-about-text {
  font-family: "Jost", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3em;
  color: #bc9b73;
  margin-left: 10px;
}
.Inspirations-text {
  font-family: "Jost", Sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.3em;
  color: #ffffff;
  margin: 0;
  padding-top: 40px;
}
.Inspirations-text1 {
  font-family: "DM Sans", Sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5em;
  color: #ffffff;
  margin: 0;
  padding-top: 20px;
}
.Inspirations-text2 {
  font-family: "DM Sans", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8em;
  color: #999999;
  margin: 0;
  padding-top: 20px;
}
.inspiration-image-main-div {
  max-width: 1320px;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 100px;
  margin: 0 auto;
}
.about-inspiration-text-image {
  display: flex;
  gap: 200px;
  padding: 0 12px;
}
.text-inspiration-div-text {
  width: 50%;
}
.inspiration-image {
  width: 50%;
}
img.about-insiration-image-div {
  width: 100%;
  height: 575px;
  object-fit: cover;
  position: relative;
    z-index: 99;
}
img.about-insiration-image-div1 {
  width: 100%;
  height: 575px;
  object-fit: cover;
  margin-top: -160px;
  position: relative;
    z-index: 99;
}
.Inspirations-text3 {
  font-family: "DM Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  color: #999999;
}

.list-container ol {
  list-style: none; /* remove default numbers */
  margin: 0;
  padding: 0;
  color: white;
}

.list-container li {
  display: flex;
  align-items: flex-start; /* align top */
  gap: 10px; /* number-text gap */
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "DM Sans", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
}

.list-container .number {
  flex-shrink: 0;
}

.list-container .text {
  flex: 1; 
}

@media (max-width:1024px) {
  .about-inspiration-text-image{
    display: block;
  }
  .text-inspiration-div-text {
    margin: 0 auto;
    width: 100%;
    max-width: 696px;
    padding-bottom: 60px;
  }
  .inspiration-image {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  .Inspirations-text{
    font-size: 30px;
  }
  img.about-insiration-image-div{
    max-width: 696px;
    max-height: 300px;
    object-fit: cover;
  }
  img.about-insiration-image-div1{
    margin-top: -9px;
     max-width: 696px;
    max-height: 300px;
    object-fit: cover;
  }
  .Inspirations-text1 {
    max-width: 585px;
  }
  .Inspirations-text2 {
    max-width: 505px;
  }
}

