.trusted-feature-div {
  background-image: url("../../assets/images/trustaboutbanner.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 99;
}
.trusted-div1 {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}
.feature-div1 {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 952px;
}
.trustedabout-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  background-size: cover;
}

.inspir-about-text122 {
  font-family: "Jost", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4em;
  color: #bc9b73;
  margin-left: 12px;
  letter-spacing: 0.5px;
}
.trust-feature-div-text h2 {
  font-family: "Jost", Sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.3em;
  color: #ffffff;
  max-width: 370px;
  margin: 0;
}
.inspiration-image-text-div122 {
  margin-bottom: 10px;
}
.trust-feature-div-text {
  margin-bottom: 30px;
}








.trust-feature-div-line {
    display: block;
    position: absolute;
    width: 1px;
    border: 1px #BC9B73;
    min-height: 60px;
    left: 50%;
    top: 50%;
    top: calc(40% - 30px);
    background-color: #BC9B73;
}
.trust-feature-div-line122 {
    display: block;
    position: absolute;
    width: 60px;
    border: 1px #BC9B73;
    min-height: 1px;
    left: 50%;
    top: 40%;
    left: calc(50% - 30px);
    background-color: #BC9B73;
}
.services-container122 {
  position: relative;
  background: #111111;
  color: #fff;
  padding: 50px;
  text-align: center;
  max-width: 890px;
}

.services-grid122 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 240px;
  position: relative;
}

.service-box122 {
  display: flex;
  gap: 20px;
}

.service-icon122 {
  font-size: 28px;
  color: #c5a46d; 
  margin-bottom: 10px;
}

.service-box122 h3 {
  font-family: "Jost", Sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3em;
  color: #ffffff;
  text-align: left;
  margin: 0;
  padding-bottom: 10px;
}

.service-box122 p {
  font-family: "DM Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: #999999;
  margin: 0;
  max-width: 269px;
  text-align: left;
}

.learn-more122 {
  margin-top: 61px;
  text-align: left;
}
.tuested-div-main-div {
    padding: 120px 0;
}
.learn-more122 button {
  background: transparent;
  border: 1px solid #99999955;
  color: #fff;
  padding: 14px 24px;
  border-radius: 25px;
  display: inline-block;
    font-family: "DM Sans", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
  cursor: pointer;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    transform var(--e-transform-transition-duration, 0.4s);
}

.learn-more122 button:hover {
  background: #bc9b73;
  border-color: none;
  transform: translateY(-2px); /* 👈 bottom to top smooth move */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* nice floating effect */
}
