.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  color: #fff;
  background-color: #0e0e0e;
  font-family: 'Segoe UI', sans-serif;
}

.subtitle {
  font-family: "Jost", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3em;
  color: #BC9B73;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}

.title-faq-genral {
  font-family: "Jost", Sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.3em;
  color: #FFFFFF;
  padding-bottom: 30px;
  margin: 0;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-item {
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: transparent;
}

.faq-item.active {
  border-color: #ffffff33;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 16px 20px;
  font-family: "Jost", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3em;
  color: #ffffff;
  background-color: transparent;
  transition: background-color 0.3s ease;
  border: 1px solid #FFFFFF1A;
}

.faq-question:hover {
  background-color: #1a1a1a;
}

.icon-faq {
  font-size: 20px;
  font-weight: 300;
  color: #999999;
}

.faq-answer {
  background-color: transparent;
  transition: all 0.3s ease;
}

.faq-answer p {
  padding: 18px 24px;
  margin: 0;
  font-family: "DM Sans", Sans-serif;
  font-size: 20px;
  line-height: 1.8em;
  color: #999999;
}
