

.about-container {
  position: relative;
  background-color: #151515;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", sans-serif;
  overflow: hidden;
  padding: 120px 76.8px 50px;
}
.about-div-main-div {
  position: relative;       
  min-height: 100vh;
  max-height: 100%;       
}
.vertical-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  pointer-events: none;
  z-index: 1;
}

.line {
  position: absolute;
  top: -115px;
  bottom: 0;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.line:nth-child(1) { left: 18%; }
.line:nth-child(2) { left: 36%; }
.line:nth-child(3) { left: 64%; }
.line:nth-child(4) { left: 81%; }

/* Left bottom text */
.pages-text {
  position: absolute;
  bottom: 30px;
  left: 100px;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 1px;
}

.center-content {
  text-align: center;
  z-index: 2;
  margin-bottom: 150px;
}
.about-title {
  color: #fff;
  margin: 0;
  font-family: "Jost", Sans-serif;
  font-size: 90px;
  font-weight: 400;
  line-height: 1.3em;
}

.about-card {
  display: inline-flex;
  align-items: center;
  background-color: #111;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.3s ease;
}
.about-card:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.about-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}
.about-text h3 {
  font-size: 16px;
  color: #fff;
  margin: 0;
}
.about-text p {
  font-size: 12px;
  color: #aaa;
  margin: 2px 0 0;
}

.gold-bar {
  position: absolute;
  top: 50px;
  right: 225px;
  width: 25px;
  height: 100px;
  background-color: #bc9b73;
  z-index: 99;
}

.about-right-text {
  position: absolute;
  bottom: 30px;
  right: 100px;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 1px;
  opacity: 0.5;
}

.box2 {
  background-color: transparent;
  padding: 1rem 1.5rem;
  padding: 10px 30px 10px 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  color: white;
  min-width: 260px;
  border: 1px solid #ffffff11;
  margin-top: 30px;
}
.box-right3 .circle-img3 {
  background-image: url("../../assets/images/hero1.webp");
  background-size: cover;
  border-radius: 50%;
  margin-right: 1rem;
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center center;
}
.box-title3 {
  color: #ffffff;
  margin: 0;
  padding-bottom: 4px;
  font-family: "Jost", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3em;
}
.box-sub3 {
  color: #ffffff;
  margin: 0;
  text-align: left;
  font-family: "DM Sans", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8em;
  opacity: 0.5;
}
