.vip-customer-main {
  padding: 0 60px 20px;
  color: #fff;
  text-align: center;
  margin-top: -200px;
}

.vip-customer-our h2 {
  font-size: 22px;
  color: #ccc;
  margin-bottom: 40px;
  font-weight: 400;
  position: relative;
  z-index: 99;
}

.vip-customer-our span {
  color: #BC9B73;
  font-weight: 600;
}

.vip-inner-website {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.vip-logo {
  /* max-width: 100%;
  height: auto;
  filter: grayscale(100%) brightness(1.2);
  opacity: 0.6;
  transition: filter 0.3s ease, opacity 0.3s ease; */
  max-width: 100%;
  height: auto;
  filter: grayscale(100%) brightness(1.2);
  opacity: 0.6;
  transition: filter 0.3s ease, opacity 0.3s ease;
  will-change: filter, opacity;
  transform: translateZ(0); /* Forces GPU rendering */
}

.vip-logo:hover {
  filter: none;
  opacity: 1;
}


@media (max-width: 1024px) {
  .vip-inner-website {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

}


@media (max-width:640px) {
  .vip-customer-main {
    margin-top: -90px;
}
}

@media (max-width: 600px) {
  .vip-inner-website {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .vip-customer-main {
    padding: 0 20px 20px;
}
  .vip-customer-our h2 {
    font-size: 18px;
  }

}
