

.comment-form-container {
  color: white;
  padding: 0 20px 0 0;
  max-width: 880px;
  z-index: 99;
  position: relative;
}

.comment-title {
  font-size: 20px;
  margin: 30px 0 12px 0;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.4;
  word-wrap: break-word;
  font-family: "Poppins", sans-serif;
}

.comment-textarea {
  width: 100%;
  height: 150px;
  background-color: #0d0d0d;
  border: 1px solid #333;
  padding: 10px;
  color: white;
  resize: none;
  outline: none;
  margin-bottom: 15px;
  font-size: 15px;
}

.comment-input {
  width: 100%;
  background-color: #0d0d0d;
  border: 1px solid #333;
  padding: 10px;
  color: white;
  outline: none;
  margin-bottom: 15px;
}
.comment-submit {
  background-color: white;
  color: #666;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}
.comment-checkbox {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #c8c8c8;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}

.comment-submit:hover {
  background-color: #ddd;
}
.comment-input::placeholder,
.comment-textarea::placeholder {
  color: #888;
  opacity: 0.5;
}

/* Border gold on focus */
.comment-input:focus,
.comment-textarea:focus {
  border-color: #bc9b73;
}

/* Border white when there is text (works for all) */
.comment-input:not(:placeholder-shown),
.comment-textarea:not(:placeholder-shown) {
  border-color: #fff;
}
#save-info {
  margin-right: 10px;
}