
.blog-card-singlebanner-div {
  overflow: hidden;
  position: relative;
  padding: 120px 70px;
  border-radius: 7px;
}
.image-single-div-main::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #15222b;
  opacity: 0.6;
}
.image-single-div-main {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.single-div-text-day {
  text-align: center;
  width: 105px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  height: 90px;
  line-height: 1;
  min-width: fit-content;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}
.day-div-text {
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, #bc9b73, #bc9b73, #bc9b73) border-box !important;
  /* border-radius: 10px; */
  border: 2px solid transparent !important;
}
.single-day-div {
  font-size: 26px;
  display: block;
  margin-bottom: 8px;
}
.single-design-div {
  min-width: fit-content;
  justify-content: center;
  display: flex;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 50px;
}
.single-text-div {
  color: #fff;
  padding: 0 5px;
  font-family: "DM Sans", Sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.single-design-text-div {
  color: #fff;
  text-align: center;
  font-size: 34px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 47.6px;
}
.post-detail-single-banner-div {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding: 0;
  list-style: outside none none;
  color: #888;
}
.post-detail-div-single {
  color: #f9f9f9;
  display: inline-block;
    margin-right: 18px;
    margin-bottom: 15px;
}
.lnr-user:before {
  content: "\e82a";
  font-family: "Linearicons-Free"; 
      font-size: 11px;
    font-weight: 600;
}
.font-awesome-text-div {
  font-size: 13px;
    font-weight: 600;
    font-family: "DM Sans", Sans-serif;
    padding-left: 10px;
}
li a {
    text-transform:none ;
}