


.testniminal-main-div-line-div {
  position: relative;       
  min-height: 100vh;
  max-height: 100%;       
}
.vertical-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  pointer-events: none;
  z-index: 1;
}

.line {
  position: absolute;
  top: -115px;
  bottom: 0;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.line:nth-child(1) { left: 18%; }
.line:nth-child(2) { left: 36%; }
.line:nth-child(3) { left: 64%; }
.line:nth-child(4) { left: 81%; }
.testimonial-section {
  display: flex;
  gap: 30px;
  padding: 60px 80px;
  background-color: #0e0e0e;
  color: #fff;
  justify-content: center;
  flex-wrap: wrap;
}
.testinominal-image-div-main {
  background-color: #101010;
}
.testimonial-card {
  background-color: #0e0e0e;
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 40px;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-header {
  margin-bottom: 20px;
}

.count {
  font-family: "Jost", Sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.3em;
  opacity: 0.3;
  color: #ffffff;
}

.stars {
  color: #d6b17e;
  font-size: 18px;
  margin: 5px 0;
}

.stars .inactive {
  color: #555;
}

.label {
  font-family: "DM Sans", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  color: #999999;
}

.testimonial-text-quote-text {
  font-family: "DM Sans", Sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.5em;
  color: #ffffff;
  margin: 20px 0;
}

.divider {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  margin: 30px 0;
}

.testimonial-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
  gap: 40px;
}

.author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.author h2 {
  font-family: "DM Sans", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5em;
  margin: 0;
}

.author p {
  font-family: "DM Sans", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  color: #999999;
  margin: 0;
}

.quote-mark {
  font-size: 60px;
  color: #d6b17e;
  font-family: Georgia, serif;
  margin-right: 10px;
}

.testimonial-main-div {
  display: flex;
  gap: 50px;
}

.star-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  fill: #d6b17e; /* Gold for active */
}

.star-icon.inactive {
  fill: #555; /* Gray for inactive */
}

@media (max-width: 1753px) {
  .testimonial-card {
    max-width: 670px;
  }
}
@media (max-width: 1693px) {
  .testimonial-card {
    max-width: 610px;
  }
}
@media (max-width: 1573px) {
  .testimonial-card {
    max-width: 570px;
  }
}
@media (max-width: 1493px) {
  .testimonial-card {
    max-width: 510px;
  }
}
@media (max-width: 1573px) {
  .testimonial-card {
    max-width: 460px;
  }
}
@media (max-width: 1573px) {
  .testimonial-card {
    max-width: 390px;
  }
  .testimonial-text-quote-text {
    font-size: 22px;
  }
}
@media (max-width: 1133px) {
  .testimonial-card {
    max-width: 320px;
  }
  .author h2 {
    font-size: 14px;
  }
  .author p {
    font-size: 14px;
  }
  .author {
    gap: 30px;
  }
  .divider {
    margin: 20px 0;
  }
  .testimonial-card {
    padding: 40px 40px 20px 40px;
  }
}

@media (max-width: 993px) {
  .testimonial-card {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .testimonial-section {
    padding: 60px 20px;
  }
}
@media (max-width: 600px) {
  .testimonial-text-quote-text {
    font-size: 18px;
  }
  .testimonial-header {
    margin-bottom: 0;
  }
  .divider {
    margin: 0px 0;
  }
  .count {
    font-size: 40px;
  }
  .star-icon {
    width: 16px;
    height: 16px;
  }
  .testimonial-main-div {
    gap: 40px;
  }
}

@media (max-width: 425px) {
  .testimonial-card {
    padding: 40px 20px 20px 20px;
  }
  .testimonial-text-quote-text {
    font-size: 14px;
  }
  img.quit-image {
    width: 40px;
  }
  .author img {
    width: 50px;
    height: 50px;
  }
  .testimonial-footer {
    display: block;
    padding-top: 40px;
  }
}
