.blogmain-divin-detail1 {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.blog-detail-main-div1 {
  display: flex;
  gap: 0px;
  padding-top: 120px;
  padding-bottom: 100px;
}

.blog-detail-div-inner1 {
  width: 100%;
}

.blog-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  position: relative;
  z-index: 99;
}

.blog-card1 {
  width: 100%;
  max-width: 390px;
  background: #151515;
  color: white;
  overflow: hidden;
  cursor: pointer;
}
.blog-image-container {
  position: relative;
}

.blog-image {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.blog-date1 {
  position: absolute;
  top: 20px;
  left: 20px;
  background: black;
  color: white;
  padding: 14px 14px;
  font-family: "DM Sans", Sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  width: 37px;
}

.blog-content {
  padding: 24px;
}

/* ---- TITLE ---- */
.blog-title23 a {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin: 0;
  font-family: "Jost", Sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3em;
}
h3.blog-title23 {
  margin: 0;
}
.blog-card:hover .blog-title23 a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.blog-content:hover .blog-title23 a::after {
  width: 100%;
}

/* ---- LINK ---- */
.blog-link {
  margin-top: 100px;
  font-weight: 400;
  line-height: 1.5em;
  font-family: "DM Sans", Sans-serif;
  font-size: 14px;
  color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}
.blog-link-icon {
  width: 14px;
  height: 14px;
  fill: currentColor; /* SVG no color text jevo */
}
.blog-card:hover .blog-link {
  color: #bc9b73;
}

.blog-link1:hover {
  text-decoration: underline;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 12px;
  width: 100%;
}

.page {
  /* width: 32px;
  height: 32px; */
  padding: 6px 20px ;
  border-radius: 50%;
  background:transparent;
  color: #FFFFFF;
    border: 1px solid #FFFFFF11;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s;
}


.page.active {
  background: #BC9B73;
}
