
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap");

/* body {
  background-color: #101010;
} */

/* body{
border-left: 1px solid red;
left: 50%;
} */