.all-section-main-div3 {
  position: relative;       
  /* min-height: 100vh; */
  max-height: 100%;       
}
.vertical-lines111 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  pointer-events: none;
  z-index: 1;
}

.line302 {
  position: absolute;
  top: 0px ;
  bottom: 0;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.line302:nth-child(1) { left: 0%; }
.line302:nth-child(2) { left: 25%; }
.line302:nth-child(3) { left: 50%; }
.line302:nth-child(4) { left: 75%; }